<div class="alert alert-danger" role="alert">
    Attention : ce simulateur a pour but de faire des estimations, et de comprendre le fonctionnement de l'impôt.
    <br />
    Toutes les règles de calculs ne sont pas prises en compte, et le total peut différer de votre impôt réel.
    <br />
    Pour une estimation plus fiable du montant de votre impôt, reportez vous au
    <a href="https://www3.impots.gouv.fr/simulateur/calcul_impot/2019/index.htm">
        simulateur officiel des finances publiques
    </a>.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>