<table class="table table-sm">
    <thead>
        <tr>
            <th>Barème</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var b in Bareme.Bareme2019())
        {

            <tr v-for="b in bareme">
                <td>@b.AffichageIntervalle()</td>
                <td>@(b.Taux)%</td>
            </tr>
        }
    </tbody>
</table>